body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #434040; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navLink:hover {
  text-decoration: underline;
}

.optionButton:hover {
  color: red;
}

.menuLink:hover {
  background-color: #68b6f7;
}

.widget {
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 10px;
  color: #505052;
}

header, .dropdown-menu {
  background-color: #F0F0F0;
}

.project_link_even:hover {
  background-color: #b1afaf;
}

.project_link_even {
  background-color: #D5D5D5;
}

.project_link_odd:hover {
  background-color: #68b6f7;
}

.project_link_odd {
  background-color: #b9caeb;
}

#projectsAdmin {
  max-height: 300px;
}

.noScrollBar {
	scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}

.newMessage {
  position : absolute;
  top : -2px;
  right : -2px;
}

.editButton {
  position:  absolute;
  top : 3px;
  right : 3px;
}