body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #434040; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navLink:hover {
  text-decoration: underline;
}

.widget {
  background-color: #C0CCFC;
}

main {
  background-color: #F0F0F0;
}

.project_link_even:hover {
  background-color: #b1afaf;
}

.project_link_even {
  background-color: #D5D5D5;
}

.project_link_odd:hover {
  background-color: #68b6f7;
}

.project_link_odd {
  background-color: #96b9f8;
}